@import "../bower_components/susy/sass/susy";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

// sass converts all hex to rgba if passed as param
$light-gray: #CACBCB;
$gray: #D8D8D8;
$blue: #4C85B7;
$red: #BB0008;
$green: #669945;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin gradient($color, $opacity: 1, $stop: 100%) {
  background: -moz-linear-gradient(left, rgba($color, $opacity) 0%, rgba($color, 0) $stop);
  background: -webkit-linear-gradient(left, rgba($color, $opacity) 0%, rgba($color, 0) $stop);
  background: linear-gradient(to right, rgba($color, $opacity) 0%, rgba($color, 0) $stop);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

@mixin status($color, $background: false) {
  color: rgba($color, 1);
  border-color: rgba($color, 1);

  @if $background != false {
    @include gradient($background, 1, 50%);
  }
}

body {
  font-size: 16px;
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.container {
  @include container(80%);
  background-color: #F6F9FC;
  padding: 5px;
}

.full {
  float: left;
  clear: both;
  width: 100%;
}

.half {
  @include span(1 of 2);

  &:nth-child(odd) {
    clear: right;
    margin-right: 0;
  }
}

.coverage {
  position: relative;
  background-color: lighten(orange, 30%);
  line-height: 14 / 16 * 1rem;

  > span {
    z-index: 1;
    position: relative;
  } 
}

.progress {
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  background-color: lighten(green, 30%);
}

.row {
  @include clearfix;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: #FBFCFE;
  font-size: 14 / 16 * 1rem;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;

  .heading {
    @include span(1 of 8);

    &:last-child {
      margin: 0;
    }
  }

  .col {
    @include span(1 of 8);
    white-space: nowrap;
    // overflow: hidden;
    line-height: 1.25rem;

    @for $i from 5 through 9 {
      &:nth-child(#{$i}) {
        border: solid 1px #CACBCB;
        background-color: $gray;

        // TODO rework bar to with progress class
        .bar {
          display: block;
          height: 20px;
          border-color: $gray;
        }

        .content {
          display: none;
        }

        .content,
        .bar {
          border-width: 1px;
          border-style: solid;
        }
      }
    }

    &:nth-child(8) {
      margin: 0;
    }

    &:nth-child(9) {
      display: none;
    }
  }

  &.active {
    .col:nth-child(5) {
      clear: both;
    }

    .col {
      @for $i from 5 through 9 {
        &:nth-child(#{$i}) {
          @include span(1 of 5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          background-color: transparent;

          .bar {
            display: none;
          }

          .content {
            display: block;
            @include clearfix;

            h3 {
              margin: 0;
              text-align: left;
            }
          }
        }
      }
    }

    .col:nth-child(9) {
      display: block;
      margin: 0;
    }
  }
}

// states
.pending {
  @include status($light-gray);
}

.running {
  @include status($blue, lighten($blue, 35%));

  .content {
    border-color: $blue;
  }
}

.rejected {
  @include status($red, lighten($red, 60%));

  .content {
    border-color: $red;
  }
}

.complete,
.accepted {
  @include status($green, lighten($green, 50%));

  .content {
    border-color: $green;
  }
}

// progress bars
// TODO make this BEM, move to bar class
.run {
  background-color: $blue;
  // will need transitions
}

.pass {
  background-color: $green;
}

.fail {
  background-color: $red;
}

