*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F6F9FC;
  padding: 5px; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.full {
  float: left;
  clear: both;
  width: 100%; }

.half {
  width: 44.44444%;
  float: left;
  margin-right: 11.11111%; }
  .half:nth-child(odd) {
    clear: right;
    margin-right: 0; }

svg {
  background: orange;
  border-radius: 50%; }

circle {
  fill: orange;
  stroke: yellowgreen;
  stroke-width: 50; }

.coverage {
  position: relative;
  background-color: rgba(255, 165, 0, 0.75);
  line-height: 0.875rem;
  color: #000;
  width: 95%;
  margin: 0 2.5%; }
  .coverage > span {
    z-index: 1;
    position: relative; }

.progress {
  position: absolute;
  height: 28px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 128, 0, 0.75); }

.lightbox {
  display: none; }
  .lightbox.active {
    display: block; }

.row {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: #FBFCFE;
  font-size: 0.875rem;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .heading {
    width: 11.49425%;
    float: left;
    margin-right: 1.14943%;
    white-space: nowrap; }
    .row .heading:last-child {
      margin: 0; }
  .row .col {
    width: 11.49425%;
    float: left;
    margin-right: 1.14943%;
    white-space: nowrap;
    line-height: 1.25rem; }
    .row .col:nth-child(5) {
      border: solid 1px #CACBCB;
      background-color: #D8D8D8; }
      .row .col:nth-child(5) .bar {
        display: block;
        height: 20px;
        border-color: #D8D8D8; }
      .row .col:nth-child(5) .content {
        display: none; }
      .row .col:nth-child(5) .content,
      .row .col:nth-child(5) .bar {
        border-width: 1px;
        border-style: solid; }
    .row .col:nth-child(6) {
      border: solid 1px #CACBCB;
      background-color: #D8D8D8; }
      .row .col:nth-child(6) .bar {
        display: block;
        height: 20px;
        border-color: #D8D8D8; }
      .row .col:nth-child(6) .content {
        display: none; }
      .row .col:nth-child(6) .content,
      .row .col:nth-child(6) .bar {
        border-width: 1px;
        border-style: solid; }
    .row .col:nth-child(7) {
      border: solid 1px #CACBCB;
      background-color: #D8D8D8; }
      .row .col:nth-child(7) .bar {
        display: block;
        height: 20px;
        border-color: #D8D8D8; }
      .row .col:nth-child(7) .content {
        display: none; }
      .row .col:nth-child(7) .content,
      .row .col:nth-child(7) .bar {
        border-width: 1px;
        border-style: solid; }
    .row .col:nth-child(8) {
      border: solid 1px #CACBCB;
      background-color: #D8D8D8; }
      .row .col:nth-child(8) .bar {
        display: block;
        height: 20px;
        border-color: #D8D8D8; }
      .row .col:nth-child(8) .content {
        display: none; }
      .row .col:nth-child(8) .content,
      .row .col:nth-child(8) .bar {
        border-width: 1px;
        border-style: solid; }
    .row .col:nth-child(9) {
      border: solid 1px #CACBCB;
      background-color: #D8D8D8; }
      .row .col:nth-child(9) .bar {
        display: block;
        height: 20px;
        border-color: #D8D8D8; }
      .row .col:nth-child(9) .content {
        display: none; }
      .row .col:nth-child(9) .content,
      .row .col:nth-child(9) .bar {
        border-width: 1px;
        border-style: solid; }
    .row .col:nth-child(8) {
      margin: 0; }
    .row .col:nth-child(9) {
      display: none; }
  .row.active .col:nth-child(5) {
    clear: both; }
  .row.active .col:nth-child(5) {
    width: 19.23077%;
    float: left;
    margin-right: 0.96154%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: transparent; }
    .row.active .col:nth-child(5) .bar {
      display: none; }
    .row.active .col:nth-child(5) .content {
      display: block;
      padding: 5px; }
      .row.active .col:nth-child(5) .content:after {
        content: "";
        display: table;
        clear: both; }
      .row.active .col:nth-child(5) .content h3 {
        margin: 0;
        text-align: left; }
  .row.active .col:nth-child(6) {
    width: 19.23077%;
    float: left;
    margin-right: 0.96154%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: transparent; }
    .row.active .col:nth-child(6) .bar {
      display: none; }
    .row.active .col:nth-child(6) .content {
      display: block;
      padding: 5px; }
      .row.active .col:nth-child(6) .content:after {
        content: "";
        display: table;
        clear: both; }
      .row.active .col:nth-child(6) .content h3 {
        margin: 0;
        text-align: left; }
  .row.active .col:nth-child(7) {
    width: 19.23077%;
    float: left;
    margin-right: 0.96154%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: transparent; }
    .row.active .col:nth-child(7) .bar {
      display: none; }
    .row.active .col:nth-child(7) .content {
      display: block;
      padding: 5px; }
      .row.active .col:nth-child(7) .content:after {
        content: "";
        display: table;
        clear: both; }
      .row.active .col:nth-child(7) .content h3 {
        margin: 0;
        text-align: left; }
  .row.active .col:nth-child(8) {
    width: 19.23077%;
    float: left;
    margin-right: 0.96154%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: transparent; }
    .row.active .col:nth-child(8) .bar {
      display: none; }
    .row.active .col:nth-child(8) .content {
      display: block;
      padding: 5px; }
      .row.active .col:nth-child(8) .content:after {
        content: "";
        display: table;
        clear: both; }
      .row.active .col:nth-child(8) .content h3 {
        margin: 0;
        text-align: left; }
  .row.active .col:nth-child(9) {
    width: 19.23077%;
    float: left;
    margin-right: 0.96154%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: transparent; }
    .row.active .col:nth-child(9) .bar {
      display: none; }
    .row.active .col:nth-child(9) .content {
      display: block;
      padding: 5px; }
      .row.active .col:nth-child(9) .content:after {
        content: "";
        display: table;
        clear: both; }
      .row.active .col:nth-child(9) .content h3 {
        margin: 0;
        text-align: left; }
  .row.active .col:nth-child(9) {
    display: block;
    margin: 0; }

.pending {
  color: #cacbcb;
  border-color: #cacbcb; }

.running {
  color: #4c85b7;
  border-color: #4c85b7;
  background: -moz-linear-gradient(left, #cbdcea 0%, rgba(203, 220, 234, 0) 50%);
  background: -webkit-linear-gradient(left, #cbdcea 0%, rgba(203, 220, 234, 0) 50%);
  background: linear-gradient(to right, #cbdcea 0%, rgba(203, 220, 234, 0) 50%); }
  .running .content {
    border-color: #4C85B7; }

.rejected {
  color: #bb0008;
  border-color: #bb0008;
  background: -moz-linear-gradient(left, #ffeeef 0%, rgba(255, 238, 239, 0) 50%);
  background: -webkit-linear-gradient(left, #ffeeef 0%, rgba(255, 238, 239, 0) 50%);
  background: linear-gradient(to right, #ffeeef 0%, rgba(255, 238, 239, 0) 50%); }
  .rejected .content {
    border-color: #BB0008; }

.complete,
.accepted {
  color: #669945;
  border-color: #669945;
  background: -moz-linear-gradient(left, #edf5e8 0%, rgba(237, 245, 232, 0) 50%);
  background: -webkit-linear-gradient(left, #edf5e8 0%, rgba(237, 245, 232, 0) 50%);
  background: linear-gradient(to right, #edf5e8 0%, rgba(237, 245, 232, 0) 50%); }
  .complete .content,
  .accepted .content {
    border-color: #669945; }

.run {
  background-color: #4C85B7; }

.pass {
  background-color: #669945; }

.fail {
  background-color: #BB0008; }

/*# sourceMappingURL=style.css.map */
